@model Facebook.Entities.CommentLikeEntities

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommentLikeEntities</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentLikeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentLikeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CommentLikeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
