@model IEnumerable<Facebook.Entities.PostEntities>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<!-- Sidebar Left -->
<div id="sidebar">
   <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
</div>

<!-- Posts -->
@foreach (var item in Model) {
    <div id="post_body">
       <div>
                <a asp-controller="AccountUserInfoEntities" asp-action="Details" asp-route-id="@item.UserId"> @Html.DisplayFor(modelItem => item.UserId)</a>
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
       </div> 
       <div><img src="~/img/Tree.jpg" width="300" height="auto"></div>
       <div><p>@Html.DisplayFor(modelItem => item.Content)</p></div>
       <div>Posted on @Html.DisplayFor(modelItem => item.DateMade)</div>
    </div>

<!-- Sidebar Right -->
<div id="sidebar_right">
   <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
       <p>Test Paragraph</p>
</div>
}
